<form action="?action=pg_categories&amp;{%current_category_ids_suburl%}" method="post" name="form">
<input type="hidden" name="command" value="update_obj" />
<input type="hidden" name="obj" value="category1" />
<input type="hidden" name="obj_id" value="{%category1_id%}" />

<table>
<tr>
    <th>{%lang:name%}:&nbsp;<span class="required">*</span></th>
    <td>{%category1_name.input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input name="submit_btn" type="submit" value="{%lang:link.save%}" />
    </td>
</tr>
</table>

</form>

{%category1_client_validation_js%}
