<p>{%str_recover_password_form_text1%}</p>

<form action="?" method="post" name="form">
<input type="hidden" name="action" value="recover_password">

<table>
<tr>
    <th>{%str_login%}:</th>
    <td>{%user_login_input%}</td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <th>{%str_email%}:</th>
    <td>{%user_email_input%}</td>
</tr>
<tr>
    <td colspan="5" align="center">
	   <input type="submit" name="submit_btn" value="{%str_link_send%}">
    </td>
</tr>
</table>

</form>

<script language="JavaScript" type="text/javascript">
focusFormElement("form", "user_login");
</script>

{%user_client_validation_js%}
