<p>{%local:text1%}</p>

<form
    action="?action=recover_password"
    method="post"
    name="form"
>

    <input type="hidden" name="command" value="recover" />

    <table>
        <tbody>
            <tr>
                <th>{%global:user.login%}:</th>
                <td>{%user.login.input%}</td>
            </tr>
            <tr>
                <th>{%global:user.email%}:</th>
                <td>{%user.email.input%}</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" name="submit_btn" value="{%global:send%}" />

</form>

<script type="text/javascript">
    focusFormElement('form', '{%user.login.input_name%}');
</script>

<script type="text/javascript">
    {%user.client_validation_js%}
</script>
