<form action="?" method="post" name="form">
<input type="hidden" name="action" value="login">
<table>
<tr>
    <td>{%str_login%}:</td>
    <td>{%user_login_input%}</td>
</tr>
<tr>
    <td>{%str_password%}:</td>
    <td>{%user_password_input%}</td>
</tr>
<tr>
    <td>{%str_user_should_remember%}:</td>
    <td>{%user_should_remember_input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input name="submit_btn" type="submit" value="{%str_link_login%}">
    </td>
</tr>
</table>
</form>

<script language="JavaScript" type="text/javascript">
focusFormElement("form", "user_login");
</script>

{%user_client_validation_js%}
