<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%sys:lang%}" lang="{%sys:lang%}" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%sys:html_charset%}" />
</head>
<body>
<p>{%local:text1%}</p>

<table>
<tr>
    <td colspan="2">{%local:text2%}</td>
</tr>
<tr>
    <td>{%global:user.login%}:</td>
    <td>{%user.login%}</td>
</tr>
<tr>
    <td>{%global:user.password%}:</td>
    <td>{%user.password%}</td>
</tr>
</table>

</body>
</html>
