<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%lang%}" lang="{%lang%}" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%html_charset%}">
</head>
<body>
<p>{%str_email_recover_password_text1%}</p>

<table>
<tr>
    <td colspan="2">{%str_email_recover_password_text2%}</td>
</tr>
<tr>
    <td>{%str_login%}:</td>
    <td>{%user_login%}</td>
</tr>
<tr>
    <td>{%str_password%}:</td>
    <td>{%user_password%}</td>
</tr>
</table>

</body>
</html>
