<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%html_charset%}">
</head>
<body>
<p>{%str_email_recover_password_text1%}</p>

<table>
<tr>
    <td colspan="2" align="left">{%str_email_recover_password_text2%}</td>
</tr>
<tr>
    <th align="right">{%str_login%}:</th>
    <td>{%user_login%}</td>
</tr>
<tr>
    <th align="right">{%str_password%}:</th>
    <td>{%user_password%}</td>
</tr>
</table>

</body>
</html>
