<div class="toolbar">
    [<a href="?action=newsletter_categories_admin">{%global:newsletter_category.back_to_list%}</a>]
</div>

<form
    action="?action=newsletter_category_edit_admin&amp;newsletter_category_id={%newsletter_category.id%}"
    method="post"
    name="form"
    enctype="multipart/form-data"
>
    
    <input type="hidden" name="command" value="update" />

    <table>
        <tbody>
            <tr>
                <th>{%global:newsletter_category.name%}:{%global:_required_field%}</th>
                <td>{%newsletter_category.name.input%}</td>
            </tr>
            <tr>
                <th>{%global:newsletter_category.is_active%}:</th>
                <td>{%newsletter_category.is_active.input%}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit_btn" value="{%global:save%}" />
                </td>
            </tr>
        </tbody>
    </table>

</form>

<script type="text/javascript">
    {%newsletter_category.client_validation_js%}
</script>
