php_flag zend.ze1_compatibility_mode On

php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag allow_call_time_pass_reference On

DirectoryIndex index.php
Options -Indexes

<FilesMatch "^(\.svn|entries)$">
    Deny from all
</FilesMatch>

RewriteEngine On
RewriteRule ^(it|en)\/?$ index.php?_current_lang=$1 [L,QSA]
