php_flag magic_quotes_gpc      off
php_flag magic_quotes_runtime  off
php_flag session.use_trans_sid off
php_flag session.use_cookies on
php_flag session.use_only_cookies on
php_value session.cache_limiter none

Options -Indexes

<Files ~ "(CVS|Entries|Repository|Root)$">
    Order allow,deny
    Deny from all
</Files>
