php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag session.use_trans_sid Off
php_flag session.use_cookies On
php_flag session.use_only_cookies On
php_value session.cache_limiter None
php_flag zend.ze1_compatibility_mode On
php_flag allow_call_time_pass_reference On

DirectoryIndex index.php
Options -Indexes

<FilesMatch "^(\.svn|entries)$">
    Deny from all
</FilesMatch>
