<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%sys:lang%}" lang="{%sys:lang%}" dir="ltr">
<head>
    <title>{%global:head_page_title.app%} - {%head_page_title%}</title>

    <meta http-equiv="Content-Type" content="text/html; charset={%sys:html_charset%}" />
    
    <link rel="stylesheet" type="text/css" href="{%sys:self_url%}css/common.css" />
    <link rel="stylesheet" type="text/css" href="{%sys:self_url%}css/user.css" />
    
    <!--[if lte IE 6]>
    <script type="text/javascript" src="{%sys:self_url%}js/minmax.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{%sys:self_url%}js/lib.js"></script>
</head>
<body class="popup">
    {%init_popup_js%}

    {%status_messages%}
    {%page_title%}
    {%body%}
</body>
</html>
