<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%global:lang%}" lang="{%global:lang%}" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%global:html_charset%}" />
    <title>{%lang:app_head_title%} - {%lang:page_title_access_denied%}</title>
    <link href="css/common.css" rel="StyleSheet" type="text/css" />
    <link href="css/user.css" rel="StyleSheet" type="text/css" />
</head>
<body>
<center>
<h1>{%lang:page_title_access_denied%}</h1>
</center>
</body>
</html>
