<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/pdf.css" />
</head>
<body>
<script type="text/php">
if (isset($pdf))  {
  $font = Font_Metrics::get_font("Helvetica");
  $size = 9;
  $color = array(0, 0, 0);
  $text_height = Font_Metrics::get_font_height($font, $size);

  $foot = $pdf->open_object();
  
  $w = $pdf->get_width();
  $h = $pdf->get_height();

  // Draw a line along the bottom
  $y = $h - 2 * $text_height - 24;
  $pdf->line(16, $y, $w - 16, $y, $color, 1);

  $y += $text_height;

  $pdf->close_object();
  $pdf->add_object($foot, "all");

  // Draw page number text
  $text = "{%global:pdf.page_num_format%}";  

  // Center the text
  $width = Font_Metrics::get_text_width("1 of 2", $font, $size);
  $pdf->page_text($w / 2 - $width / 2, $y, $text, $font, $size, $color);
}
</script>
    {%body%}
</body>
</html>
