<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%html_charset%}">
</head>
<body>

<p>{%str_email_signup_text1%}</p>

<table>
<tr>
    <th colspan="2" align="left">{%str_email_signup_text2%}:</th>
</tr>
<tr>
    <th align="right">{%str_login%}:</th>
    <td>{%user_login%}</td>
</tr>
<tr>
    <th align="right">{%str_password%}:</th>
    <td>{%user_password%}</td>
</tr>
<tr>
    <th align="right">{%str_email%}:</th>
    <td>{%user_email%}</td>
</tr>
<tr>
    <th align="right">{%str_last_name%}:</th>
    <td>{%user_last_name%}</td>
</tr>
<tr>
    <th align="right">{%str_first_name%}:</th>
    <td>{%user_first_name%}</td>
</tr>
</table>

<p>{%str_email_signup_text3%}</p>

<p>{%str_email_signup_text4%} <a href="{%confirmation_link%}">{%confirmation_link%}</a></p>

</body>
</html>
