<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%html_charset%}">
</head>
<body>

<p>{%str_email_signup_text1%}</p>

<table>
<tr>
    <th colspan="2" align="left">{%str_email_signup_text2%}:</th>
</tr>
<tr>
    <th align="right">{%str_login%}:</th>
    <td>{%user_login%}</td>
</tr>
<tr>
    <th align="right">{%str_password%}:</th>
    <td>{%user_password%}</td>
</tr>
<tr>
    <th align="right">{%str_email%}:</th>
    <td>{%user_email%}</td>
</tr>
<tr>
    <th align="right">{%str_last_name%}:</th>
    <td>{%user_last_name%}</td>
</tr>
<tr>
    <th align="right">{%str_first_name%}:</th>
    <td>{%user_first_name%}</td>
</tr>
<tr>
    <th align="right">{%str_home_phone%}:</th>
    <td>{%user_home_phone%}</td>
</tr>
<tr>
    <th align="right">{%str_office_phone%}:</th>
    <td>{%user_office_phone%}</td>
</tr>
<tr>
    <th align="right">{%str_cell_phone%}:</th>
    <td>{%user_cell_phone%}</td>
</tr>
<tr>
    <th align="right">{%str_country%}:</th>
    <td>{%user_country%}</td>
</tr>
<tr>
    <th align="right">{%str_city%}:</th>
    <td>{%user_city%}</td>
</tr>
<tr>
    <th align="right">{%str_address%}:</th>
    <td>{%user_address%}</td>
</tr>
<tr>
    <th align="right">{%str_zip%}:</th>
    <td>{%user_zip%}</td>
</tr>
<tr>
    <th align="right">{%str_extra_info%}:</th>
    <td>{%user_extra_info%}</td>
</tr>
</table>

<p>{%str_email_signup_text3%}</p>

<p>{%str_email_signup_text4%} <a href="{%confirmation_link%}">{%confirmation_link%}</a></p>

</body>
</html>
