body, th, td, select, input, textarea {
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

th {
    font-size: 12px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

.menu-item-current {
    font-weight: bold;
}

.menu-item {
}

.err {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.ok {
    color: green;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.wide {
    width: 400px;
}

.mid-wide {
    width: 250px;
}

input.integer {
    text-align: right;
    width: 100px;
}

input.double {
    text-align: right;
    width: 100px;
}

input.currency {
    text-align: right;
    width: 100px;
}

input.date {
    width: 80px;
}

input.datetime {
    width: 130px;
}

input.time {
    width: 80px;
}

/* for lines 0, 2 ... */
.list-item-even {
    background-color: #f0f0f0;
}

/* for lines 1, 3 ... */
.list-item-odd {
    background-color: #ffffff;
}
