/* Global settings */
html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
}

body, form, input, textarea, select {
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #000e37;
}

body {
    background: #cbcccd url(../images/background.gif) left top repeat;
    min-width: 600px;
    text-align: center;
}

body.popup {
    height: auto;
    padding: 20px;
    min-width: 300px;
    text-align: left;
}

#all {
    position: relative;
    height: 100%;
    min-height: 100%;
    text-align: left;
}

html>body #all {
    height: auto;
}

.content {
    min-width: 590px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

input, textarea, select {
    border: 1px solid #c0c0c0;
    background: #d5d6d7;
}

hr {
    border: none;
    color: #b0b3b7;
    background-color: #b0b3b7;
    height: 1px;
}

table {
    border-collapse: collapse;
}

table th {
    border: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

table td {
    vertical-align: top;
}

form table th {
    font-weight: normal;
    font-size: 11px;
}

form table td {
    padding-left: 30px;
}

form table th {
    text-align: left;
}

table.table tr th {
    text-align: center;
}

table.table tr td, table.table tr th {
    padding: 5px;
}

table.table td, table.table th {
    border: 1px solid #3f4447;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    color: #2d3133;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

p {
    margin: 5px;
    text-indent: 0px;
}


a:link {
    color: #006aa9;
    text-decoration: underline;
}

a:visited {
    color: #006af9;
}

a:hover {
    color: #006af9;
    text-decoration: none;
}

a img {
    border: 0;
}

.clear {
    clear: both;
}

.required {
    color: red;
}

/* Status messages */
.status_messages {
    font-size: 12px;
    font-weight: bold;
    background: #bfc3c7;
    margin: 10px auto;
    padding: 2px;

}

.status_messages div {
    margin: 5px auto 5px auto;
}

.status_messages div img {
    float: left;
    margin-right: 20px;
    vertical-align: middle;
}

.err {
    color: #3f4447;
    display: inline;
}

.ok {
    color: #3f4447;
    display: inline;
}

.not_uploaded {
    color: red;
}

/* Dimensions of DbObject fields */
.varchar_normal {
    width: 175px;
}

.varchar_mid_wide {
    width: 250px;
}

.varchar_wide {
    width: 375px;
}

.integer {
    text-align: right;
    width: 100px;
}

.double {
    text-align: right;
    width: 100px;
}

.currency {
    text-align: right;
    width: 100px;
}

.date {
    width: 80px;
}

.datetime {
    width: 130px;
}

.time {
    width: 80px;
}

/* Objects list */
/* style for rows 0, 2 ... */
.list_item_even {
    background-color: #d5d6d7;
}

/* style for rows 1, 3 ... */
.list_item_odd {
    background-color: #cbcccd;
}

.list_item_selected {
    background: #ecedee;
}

/* Login state */
.login_state {
    float: right;
    padding: 2px;
    font: 10px/11px Verdana, sans-serif;
    color: #000000;
}

/* Menu */
ul.menu, ul.sub_menu, ul.sub_sub_menu {
    width: 100%;
    background: #dcdcdc;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    margin-top: -1px;
    white-space: nowrap;

}

ul.menu li, ul.sub_menu li, ul.sub_sub_menu li {
    padding: 6px 0;
    display: inline;
    margin: 0;
    border-right: 1px solid #ffffff;
}

ul.menu li.menu_item_selected, ul.sub_menu li.sub_menu_item_selected, ul.sub_sub_menu li.sub_sub_menu_item_selected {
    background: #ffffff;
    font-weight: bold;
}

ul.menu li a, ul.sub_menu li a, ul.sub_sub_menu li a {
    padding: 6px 20px;
    color: #3f4447;
    text-decoration: none;
}

ul.menu li a:visited, ul.sub_menu li a:visited, ul.sub_sub_menu li a:visited {
    color: #3f4447;
}

ul.menu li a:hover, ul.sub_menu li a:hover, ul.sub_sub_menu li a:hover {
    color: #1c1f20;
}

/*
ul.menu li.menu_item_delimiter, ul.sub-menu li.sub-menu_item_delimiter, ul.sub-sub-menu li.sub-sub-menu_item_delimiter {
    border: 1px solid #ffffff;
}
*/

/* Lang menu */
.lang_menu {
    font-weight: bold;
    float: right;
    padding: 2px;
}

.lang_menu img {
    vertical-align: middle;
}

.lang_menu span {
    padding: 5px;
    color: #858585;
}

.lang_menu a {
    color: #858585;
}

.toolbar {
    margin: 20px auto;
    white-space: nowrap;
}

td .toolbar, th .toolbar {
    margin: 10px auto;
}

.total {
    margin: 10px auto 20px auto;
    padding-top: 10px;
    color: #005588;
    font-size: 10px;
    text-align: left;
    border-top: 1px solid #b0b3b7;
}

.navigation {
    margin: 20px auto;
}

small {
    font-size: 10px;
}
