.date_picker_button {
    width: 40px;
    height: 25px;
    background: #cbcccd url(../images/date_picker_btn.gif) center center no-repeat;
    vertical-align: middle;
}

.yui-calendar-container {
    width: 170px;
}

.yui-calendar tbody tr td.wd6,
.yui-calendar tbody tr td.wd0 {
    background-color: #ffe0e0;
}

.yui-calendar td.calcell.today {
    background-color: #fffbe3;
    border: 1px solid #e09900;
}

.yui-calendar td.calcell.selected, .yui-calendar td.calcell.calcellhover {
    background-color: #fff19f;
    border: 1px solid #ff9900;
    color: #003db8;
}

.yui-calendar td.calcell.calcellhover a {
    color: #003db8;
}
