.header {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer, .footer_empty {
    height: 111px;
}

.footer p {
    text-align: right;
}

.copyright {
    background: #dcdcdc;
    height: 48px;
    width: 100%;
    padding-top: 20px;
    color: #7d878d;
    font-size: 10px;
}

.copyright a {
    color: #7d878d;
    text-decoration: underline;
    font-size: 10px;
}

.copyright a:focus {
    color: #4f5559;
}

.copyright a:hover {
    color: #7d878d;
}

.copyright a:visited {
    color: #7d878d;
}

.copyright div {
    margin: 10px;
    display: inline;
}

/* News articles */
.news_article {
    clear: both;
}

.news_article p {
    margin: 0px;
    padding-right: 10px;
    text-align: justify;
}

.news_article img {
    float: left;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info {
    color: #3f4447;
}

.hint {
    font-size: 10px;
}

/* Category browser */
.category_browser td, .category_browser th {
    border: 1px dotted #7d878d;
}

table.category_browser>tbody>tr>td {
    vertical-align: top;
}

table.category_browser tbody tr td {
    vertical-align: top;
}

table.category_browser tbody tr td td {
    vertical-align: middle;
}

/* Contact Form */

.contact_info {
    white-space: nowrap;
    min-width: 760px;
}

.contact_info div.primary {
    margin: 0;
    padding: 0;
    float: left;
}

.contact_info div.secondary {
   margin: 0;
   padding: 0;
   margin-left: 26px;
   float: left;
}

.contact_info div.message {
    margin: 0;
    padding: 0;
    clear: left;
}

.contact_info div table th {
    width: 100px;
}

.contact_info div table td {
    padding-left: 20px;
}
