<form action="?" method="get" onsubmit="onsubmitFormHandler(this);">
<input type="hidden" name="action" value="pg_users" />
<table>
<tr>
    <td colspan="2"><b>{%lang:filter_by%}:</b></td>
</tr>
<tr>
    <td>{%lang:login%}:</td>
    <td>{%user_login_like_input%}</td>
</tr>
<tr>
    <td>{%lang:name%}:</td>
    <td>{%user_full_name_like_many_input%}</td>
</tr>
<tr>
    <td>{%lang:email%}:</td>
    <td>{%user_email_like_input%}</td>
</tr>
<tr>
    <td>{%lang:role%}:</td>
    <td>{%user_role_equal_input%}</td>
</tr>
<tr>
    <td>{%lang:is_confirmed%}:</td>
    <td>{%user_is_confirmed_equal_input%}</td>
</tr>
<tr>
    <td>{%lang:is_active%}:</td>
    <td>{%user_is_active_equal_input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input type="submit" name="submit_btn" value="{%lang:link_filter%}" />
    </td>
</tr>
</table>
</form>
