<form action="?" method="get" onsubmit="onsubmitFormHandler(this);">
<input type="hidden" name="action" value="pg_users">
<table border="0">
<tr>
    <th colspan="2" align="left">{%str_filter_by%}:</th>
</tr>
<tr>
    <th>{%str_login%}:</th>
    <td>{%user_login_like_input%}</td>
</tr>
<tr>
    <th>{%str_name%}:</th>
    <td>{%user_full_name_like_many_input%}</td>
</tr>
<tr>
    <th>{%str_email%}:</th>
    <td>{%user_email_like_input%}</td>
</tr>
<tr>
    <th>{%str_role%}:</th>
    <td>{%user_role_equal_input%}</td>
</tr>
<tr>
    <th>{%str_is_confirmed%}:</th>
    <td>{%user_is_confirmed_equal_input%}</td>
</tr>
<tr>
    <th>{%str_is_active%}:</th>
    <td>{%user_is_active_equal_input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input type="submit" name="submit_btn" value="{%str_link_filter%}">
    </td>
</tr>
</table>
</form>
