<form action="?" method="get" onsubmit="onsubmitFormHandler(this);">
<input type="hidden" name="action" value="pg_users">
<table>
<tr>
    <td colspan="2">{%str_filter_by%}:</td>
</tr>
<tr>
    <td>{%str_login%}:</td>
    <td>{%user_login_like_input%}</td>
</tr>
<tr>
    <td>{%str_name%}:</td>
    <td>{%user_full_name_like_many_input%}</td>
</tr>
<tr>
    <td>{%str_email%}:</td>
    <td>{%user_email_like_input%}</td>
</tr>
<tr>
    <td>{%str_role%}:</td>
    <td>{%user_role_equal_input%}</td>
</tr>
<tr>
    <td>{%str_is_confirmed%}:</td>
    <td>{%user_is_confirmed_equal_input%}</td>
</tr>
<tr>
    <td>{%str_is_active%}:</td>
    <td>{%user_is_active_equal_input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input type="submit" name="submit_btn" value="{%str_link_filter%}">
    </td>
</tr>
</table>
</form>
