<table class="table">
<thead>
<tr>
    <th><a href="?{%action_filters.suburl%}&amp;order_by=id+asc">{%lang:id%}</a></th>
    <th><a href="?{%action_filters.suburl%}&amp;order_by[]=created+desc&amp;order_by[]=id+desc">{%lang:date_created%}</a></th>
    <th><a href="?{%action_filters.suburl%}&amp;order_by=login+asc">{%lang:login%}</a></th>
    <th><a href="?{%action_filters.suburl%}&amp;order_by[]=last_name+asc&amp;order_by[]=first_name+asc">{%lang:name%}</a></th>
    <th>{%lang:email%}</th>
    <th>{%lang:role%}</th>
    <th>{%lang:is_confirmed%}</th>
    <th>{%lang:is_active%}</th>
    <th>{%lang:actions%}</th>
</tr>
</thead>
<tbody>
    {%user_items%}
</tbody>
</table>
