<table border="1">
<tr>
    <th><a href="?{%action_filters_suburl%}&amp;order_by=id+asc">ID</a></th>
    <th><a href="?{%action_filters_suburl%}&amp;order_by[]=created+desc&amp;order_by[]=id+desc">{%str_date_created%}</a></th>
    <th><a href="?{%action_filters_suburl%}&amp;order_by=login+asc">{%str_login%}</a></th>
    <th><a href="?{%action_filters_suburl%}&amp;order_by[]=last_name+asc&amp;order_by[]=first_name+asc">{%str_name%}</a></th>
    <th>{%str_email%}</th>
    <th>{%str_role%}</th>
    <th>{%str_is_confirmed%}</th>
    <th>{%str_is_active%}</th>
    <th>{%str_actions%}</th>
</tr>

{%user_items%}

</table>
