<p>{%lang:text1%}</p>

<form action="?" method="post" name="form">
<input type="hidden" name="action" value="signup" />

<table>
<tr>
    <td>{%lang:login%}:&nbsp;<span class="required">*</span></td>
    <td>{%user.login.input%}</td>
</tr>
<tr>
    <td>{%lang:password%}:&nbsp;<span class="required">*</span></td>
    <td>{%user.password.input%}</td>
</tr>
<tr>
    <td>{%lang:password_confirm%}:&nbsp;<span class="required">*</span></td>
    <td>{%user.password_confirm.input%}</td>
</tr>
<tr>
    <td>{%lang:first_name%}:&nbsp;<span class="required">*</span></td>
    <td>{%user.first_name.input%}</td>
</tr>
<tr>
    <td>{%lang:last_name%}:&nbsp;<span class="required">*</span></td>
    <td>{%user.last_name.input%}</td>
</tr>
<tr>
    <td>{%lang:email%}:&nbsp;<span class="required">*</span></td>
    <td>{%user.email.input%}</td>
</tr>
<tr>
    <td>{%lang:extra_info%}:</td>
    <td>{%user.extra_info.input%}</td>
</tr>
<tr>
    <td colspan="2">
        {%lang:text2%}<br />
        <a href="javascript:void(openPolicyTermsOfUsePopupWindow());"
            >{%lang:policy_terms_of_use%}</a>,
        <a href="javascript:void(openPolicyTermsAndConditionsPopupWindow());"
            >{%lang:policy_terms_and_conditions%}</a>,
        <a href="javascript:void(openPolicyPrivacyPopupWindow());"
            >{%lang:policy_privacy%}</a> {%lang:and%}
        <a href="javascript:void(openPolicyDisclaimerPopupWindow());"
            >{%lang:policy_disclaimer%}</a>.
    </td>
</tr>
<tr>
    <td>{%lang:accept_agreement%}:&nbsp;<span class="required">*</span></td>
    <td>{%user.agreement_accepted.input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input name="submit_btn" type="submit" value="{%lang:link.send%}" />
    </td>
</tr>
</table>

</form>

<script type="text/javascript">
{%user.client_validation_js%}
</script>
