<p>{%lang:signup_form_text1%}</p>

<form action="?" method="post" name="form">
<input type="hidden" name="action" value="signup" />
<table>
<tr>
    <td>{%lang:login%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_login.input%}</td>
</tr>
<tr>
    <td>{%lang:password%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_password.input%}</td>
</tr>
<tr>
    <td>{%lang:password_confirm%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_password_confirm.input%}</td>
</tr>
<tr>
    <td>{%lang:first_name%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_first_name.input%}</td>
</tr>
<tr>
    <td>{%lang:last_name%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_last_name.input%}</td>
</tr>
<tr>
    <td>{%lang:email%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_email.input%}</td>
</tr>
<tr>
    <td>{%lang:extra_info%}:</td>
    <td>{%user_extra_info.input%}</td>
</tr>
<tr>
    <td colspan="2">
        {%lang:signup_form_text2%}<br />
        <a href="javascript:void(openPolicyTermsOfUsePopupWindow());"
            >{%lang:policy_terms_of_use%}</a>,
        <a href="javascript:void(openPolicyTermsAndConditionsPopupWindow());"
            >{%lang:policy_terms_and_conditions%}</a>,
        <a href="javascript:void(openPolicyPrivacyPopupWindow());"
            >{%lang:policy_privacy%}</a> {%lang:and%}
        <a href="javascript:void(openPolicyDisclaimerPopupWindow());"
            >{%lang:policy_disclaimer%}</a>.
    </td>
</tr>
<tr>
    <td>{%lang:signup_form_accept_agreement%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_agreement_accepted.input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input name="submit_btn" type="submit" value="{%lang:link.send%}" />
    </td>
</tr>
</table>
</form>

{%user_client_validation_js%}
