<p>{%str_signup_form_text1%}</p>

<form action="?" method="post" name="form">
<input type="hidden" name="action" value="signup">
<table>
<tr>
    <td>{%str_login%}: *</td>
    <td>{%user_login_input%}</td>
</tr>
<tr>
    <td>{%str_password%}: *</td>
    <td>{%user_password_input%}</td>
</tr>
<tr>
    <td>{%str_password_confirm%}: *</td>
    <td>{%user_password_confirm_input%}</td>
</tr>
<tr>
    <td>{%str_first_name%}: *</td>
    <td>{%user_first_name_input%}</td>
</tr>
<tr>
    <td>{%str_last_name%}: *</td>
    <td>{%user_last_name_input%}</td>
</tr>
<tr>
    <td>{%str_email%}: *</td>
    <td>{%user_email_input%}</td>
</tr>
<tr>
    <td>{%str_extra_info%}:</td>
    <td>{%user_extra_info_input%}</td>
</tr>
<tr>
    <td colspan="2">
        {%str_signup_form_text2%}<br>
        <a href="javascript:void(openPolicyTermsOfUsePopupWindow());"
            >{%str_policy_terms_of_use%}</a>,
        <a href="javascript:void(openPolicyTermsAndConditionsPopupWindow());"
            >{%str_policy_terms_and_conditions%}</a>,
        <a href="javascript:void(openPolicyPrivacyPopupWindow());"
            >{%str_policy_privacy%}</a> {%str_and%}
        <a href="javascript:void(openPolicyDisclaimerPopupWindow());"
            >{%str_policy_disclaimer%}</a>.
    </td>
</tr>
<tr>
    <td>{%str_signup_form_accept_agreement%}: *</td>
    <td>{%user_agreement_accepted_input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input name="submit_btn" type="submit" value="{%str_link_send%}">
    </td>
</tr>
</table>
</form>

{%user_client_validation_js%}
