<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%lang%}" lang="{%lang%}" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%html_charset%}" />
    <title>{%str_setup_area_head_title%} - {%str_page_title_access_denied%}</title>
    <link href="css/common.css" rel="StyleSheet" type="text/css" />
    <link href="css/setup.css" rel="StyleSheet" type="text/css" />
</head>
<body>
<center>
<h1>{%str_page_title_access_denied%}</h1>
</center>
</body>
</html>
