<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%global:lang%}" lang="{%global:lang%}" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%global:html_charset%}" />
    <title>{%lang:head_page_title.setup_app%}</title>
    <link href="css/common.css" rel="StyleSheet" type="text/css" />
    <link href="css/setup.css" rel="StyleSheet" type="text/css" />
    <script src="js/lib.js" type="text/javascript"></script>
</head>
<body>
{%menu%}{%page_title%}{%status_messages%}{%body%}
</body>
</html>
