<form action="?action=news_article_edit&amp;news_article_id={%news_article.id%}"
    method="post" name="form" enctype="multipart/form-data">
<input type="hidden" name="command" value="update" />

<table>
<tr>
    <th>{%global:date%}:</th>
    <td>{%news_article.created.input%}</td>
</tr>
<tr>
    <th>{%global:title%}:&nbsp;<span class="required">*</span></th>
    <td>{%news_article.title.input%}</td>
</tr>
<tr>
    <th>{%global:body%}:</th>
    <td>{%news_article.body.input%}</td>
</tr>
<tr>
    <th>{%global:current_image%}:</th>
    <td>{%news_article.image%}</td>
</tr>
<tr>
    <th>{%global:upload_new_image%}:</th>
    <td><input type="file" name="image_file" /></td>
</tr>
<tr>
    <th>{%global:current_file%}:</th>
    <td>{%news_article.file_info%}</td>
</tr>
<tr>
    <th>{%global:upload_new_file%}:</th>
    <td><input type="file" name="file" /></td>
</tr>
<tr>
    <td colspan="2">
        <input type="submit" name="submit_btn" value="{%global:save%}" />
    </td>
</tr>
</table>

</form>

<script type="text/javascript">
{%news_article.client_validation_js%}
</script>
