<table>
<tr>
    <td>
        <form action="?" method="post">
        <input type="hidden" name="action" value="insert_test_data">
        <input type="submit" value="Insert test data">
        </form>
    </td>
    <td>
<!--        <form action="?" method="post">
        <input type="hidden" name="action" value="insert_initial_data">
        <input type="submit" value="Insert initial data">
        </form> -->
    </td>
</tr>
<tr>
    <td>
        <form action="?" method="post">
        <input type="hidden" name="action" value="delete_tables">
        <input type="submit" value="Delete MySQL tables">
        </form>
    </td>
    <td>
        <form action="?" method="post">
        <input type="hidden" name="action" value="create_update_tables">
        <input type="submit" value="Create/Update MySQL tables">
        </form>
    </td>
</tr>
</table>
