<?xml version="1.0" encoding="utf-8" ?>
<menu
    name="admin_menu"
    template="_menu.html"
    item_template="_menu_item.html"
    item_current_template="_menu_item_current.html"
    item_delimiter_template="_menu_item_delimiter.html"
>
    <menu_item name="index" url="?">
        <contexts>
            <context name="pg_index" />
        </contexts>
    </menu_item>
    <menu_item name="news_articles" url="?action=pg_view_news_articles">
        <contexts>
            <context name="pg_view_news_articles" />
            <context name="pg_edit_news_article" />
        </contexts>
    </menu_item>
    <menu_item name="app" url="./" item_template="_menu_item_app.html">
        <contexts>
            <context name="" />
        </contexts>
    </menu_item>
</menu>
