<div class="block">
    <form action="?action=create_update_tables" method="post" onsubmit="onsubmitFormHandler(this);">
        <input type="submit" name="submit_btn" value="Create/Update MySQL tables &gt;&gt;&gt;" />
    </form>

    <form action="?" method="get" onsubmit="onsubmitFormHandler(this);">
        <input type="hidden" name="action" value="tables_dump" />
        <input type="submit" name="submit_btn" value="Dump MySQL tables &gt;&gt;&gt;" />
    </form>
</div>

<div class="block">
    <form action="?action=insert_initial_data" method="post" onsubmit="onsubmitFormHandler(this);">
        <input id="input_all" type="radio" name="obj" value="" checked/> <label for="input_all">All</label><br />
        <input id="input_users" type="radio" name="obj" value="users" /> <label for="input_users">Users</label><br />
        <br />
        <input type="submit" name="submit_btn" value="Insert initial data" />
    </form>

    <form action="?" method="post" onsubmit="onsubmitFormHandler(this);">
        <input type="hidden" name="action" value="insert_test_data" />
        <input type="submit" name="submit_btn" value="Insert test data" />
    </form>
</div>

<div class="block important">
    <form action="?" method="post" onsubmit="onsubmitFormHandler(this);">
        <input type="hidden" name="action" value="delete_tables" />
        <input type="submit" name="submit_btn" value="Delete MySQL tables" />
    </form>
</div>