<div class="toolbar">
    [<a href="?action=newsletters_admin">{%global:newsletter.back_to_list%}</a>]
</div>

{{_global/yui/date_picker/include_js}}

<form
    action="?action=newsletter_edit_admin&amp;newsletter_id={%newsletter.id%}"
    method="post"
    name="form"
    enctype="multipart/form-data"
>
    
    <input type="hidden" name="command" value="update" />

    <table>
        <tbody>
            <tr>
                <th>{%global:newsletter.category%}:{%global:_required_field%}</th>
                <td>{%newsletter.newsletter_category_id.input%}</td>
            </tr>
            <tr>
                <th>{%global:newsletter.sent_date%}:{%global:_required_field%}</th>
                <td>{%newsletter.sent_date.input%}</td>
            </tr>
            <tr>
                <th>{%global:newsletter.title%}:{%global:_required_field%}</th>
                <td>{%newsletter.title.input%}</td>
            </tr>
            <tr>
                <th>{%global:newsletter.body%}:</th>
                <td>{%newsletter.body.input%}</td>
            </tr>
            <tr>
                <th>{%global:newsletter.current_image%}:</th>
                <td>{%newsletter.image%}</td>
            </tr>
            <tr>
                <th>{%global:newsletter.upload_new_image%}:</th>
                <td><input type="file" name="image_file" /></td>
            </tr>
            <tr>
                <th>{%global:newsletter.current_file%}:</th>
                <td>{%newsletter.file_info%}</td>
            </tr>
            <tr>
                <th>{%global:newsletter.upload_new_file%}:</th>
                <td><input type="file" name="file" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit_btn" value="{%global:save_and_send%}" />
                </td>
            </tr>
        </tbody>
    </table>

</form>

{{_global/yui/date_picker/init_js}}

<script type="text/javascript">
    {%newsletter.client_validation_js%}
</script>
