<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"
        "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>
<head>
    <title>{%head_title%}</title>
    <META http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(Duration=0.2)">
    <link rel="StyleSheet" href="css/style.css" type="text/css">
    <script language="JavaScript" type="text/javascript" src="js/lib.js">
    </script>
    <script language="JavaScript">
        language = '{%lang%}';
    </script>
</head>
<body>

{%main_menu%}
<br>
{%lang_menu%}

<div>
<h1>{%title%}</h1>

<div class="ok">{%ok%}</div>
<div class="err">{%err%}</div>

{%body%}

</div>

</body>
</html>
