<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{%str_app_head_title%} - {%head_title%}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(Duration=0.2)">
    <link rel="StyleSheet" href="css/common.css" type="text/css">
    <link rel="StyleSheet" href="css/user.css" type="text/css">
    <script language="JavaScript" type="text/javascript" src="js/lib.js"></script>
    <script language="JavaScript">
        language = '{%lang%}';
    </script>
</head>
<body>

{%main_menu%}
<br>
{%lang_menu%}

<div>
<h1>{%title%}</h1>

{%status_messages%}

{%body%}

</div>

</body>
</html>
