<?xml version="1.0" encoding="utf-8" ?>
<menu
    name="admin_menu"
    template="menu.html"
    item_template="menu_item.html"
    item_selected_template="menu_item_selected.html"
    item_delimiter_template="menu_item_delimiter.html"
>
    <menu_item
        name="index"
        url="?"
        contexts="pg_index"
    />
    <menu_item
        name="news_articles"
        url="?action=pg_news_articles"
        contexts="pg_news_articles, pg_edit_news_article_edit"
    />
    <menu_item
        name="app"
        url="./"
        item_template="menu_item_app.html"
    />
</menu>
