<tr class="{%list_item_class%}">
    <td>{%newsletter_category.id%}</td>
    <td>{%newsletter_category.name%}</td>
    <td>{%newsletter_category.is_active%}</td>
    <td>
        [<a 
            href="?action=newsletter_category_edit&amp;newsletter_category_id={%newsletter_category.id%}&amp;command=activate_deactivate" 
            title="{%global:change_activity%}"
         >{%global:change_activity%}</a>]
        [<a 
            href="?action=newsletter_category_edit&amp;newsletter_category_id={%newsletter_category.id%}" 
            title="{%global:edit%}"
         >{%global:edit%}</a>]
    </td>
</tr>
