<table>
<form action="?" method="post" name="contact" onsubmit="if (validate(this.name)) {this.send_btn.disabled=true;return true;} else {return false;}">
<input type="hidden" name="action" value="process_contact_form">
<tr>
    <th>{%str_first_name%}:</th>
    <td><input name="first_name" type="text"></td>

    <th>{%str_last_name%}:</th>
    <td><input name="last_name" type="text"></td>
</tr>

<tr>
    <th>{%str_email%}:</th>
    <td><input name="email" type="text"></td>
    <td></td>
    <td></td>
</tr>

<tr>
    <th>{%str_company%}:</th>
    <td><input name="company" type="text"></td>
    <th>{%str_address%}:</th>
    <td colspan="3"><input name="address" type="text" style="width:280px"></td>
</tr>

<tr>
    <th>{%str_phone%}:</th>
    <td><input name="phone" type="text"></td>

    <th>{%str_fax%}:</th>
    <td><input name="fax" type="text"></td>
</tr>

<tr>
    <th>{%str_message_text%}:</th>
    <td colspan="3"><textarea name="message_text" cols="60" rows="9"></textarea></td>
</tr>

<tr>
    <td colspan="4">
        <center><input name="send_btn" type="submit" value="{%str_link_send%}"></center>
    </td>
</tr>

</form>
</table>

<script language="JavaScript">focusElement('contact', 'first_name');</script>

{%contact_form_notice%}
