<form action="?action=pg_product_edit" method="post" name="form">
<input type="hidden" name="command" value="update" />
<input type="hidden" name="product_id" value="{%product.id%}" />

<table>
<tr>
    <td>{%lang:category1_title%}:&nbsp;<span class="required">*</span></td>
    <td>{%product.category2_category1_id.input%}</td>
</tr>
<tr>
    <td>{%lang:category2_title%}:&nbsp;<span class="required">*</span></td>
    <td>{%product.category3_category2_id.input%}</td>
</tr>
<tr>
    <td>{%lang:category3_title%}:&nbsp;<span class="required">*</span></td>
    <td>{%product.category3_id.input%}</td>
</tr>
<tr>
    <td>{%lang:name%}:&nbsp;<span class="required">*</span></td>
    <td>{%product.name.input%}</td>
</tr>
<tr>
    <td>{%lang:description%}:</td>
    <td>{%product.description.input%}</td>
</tr>
<tr>
    <td>{%lang:price%}:</td>
    <td>{%product.price.input%}</td>
</tr>
<tr>
    <td colspan="2">
        <input type="submit" name="submit_btn" value="{%lang:link.save%}" />
    </td>
</tr>
</table>

</form>

{%product.category3_category2_id.dependency_js%}
{%product.category2_category1_id.dependency_js%}

<script type="text/javascript">
initDependencies();
</script>

<script type="text/javascript">
{%product.client_validation_js%}
</script>
