<form action="?" method="post" name="form" enctype="multipart/form-data">
<input type="hidden" name="action" value="update_news_article" />
<input type="hidden" name="news_article_id" value="{%news_article.id%}" />

<table>
<tr>
    <td>{%lang:date%}:</td>
    <td>{%news_article.created.input%}</td>
</tr>
<tr>
    <td>{%lang:title%}:&nbsp;<span class="required">*</span></td>
    <td>{%news_article.title.input%}</td>
</tr>
<tr>
    <td>{%lang:body%}:</td>
    <td>{%news_article.body.input%}</td>
</tr>
<tr>
    <td>{%lang:current_image%}:</td>
    <td>{%news_article.image%}</td>
</tr>
<tr>
    <td>{%lang:upload_new_image%}:</td>
    <td><input type="file" name="image_file" /></td>
</tr>
<tr>
    <td valign="top">{%lang:current_file%}:</td>
    <td>{%news_article.file_info%}</td>
</tr>
<tr>
    <td>{%lang:upload_new_file%}:</td>
    <td><input type="file" name="file" /></td>
</tr>
<tr>
    <td colspan="2">
        <input type="submit" name="submit_btn" value="{%lang:link.save%}" />
    </td>
</tr>
</table>

</form>

<script type="text/javascript">
{%news_article.client_validation_js%}
</script>
