<html>
<body>

<table>
<tr>
    <th align="right">Nome:</th>
    <td>{%first_name%}</td>
</tr>
<tr>
    <th align="right">Cognome:</th>
    <td>{%last_name%}</td>
</tr>
<tr>
    <th align="right">E-mail:</th>
    <td>{%email%}</td>
</tr>
<tr>
    <th align="right">Azienda:</th>
    <td>{%company%}</td>
</tr>
<tr>
    <th align="right">Indirizzo:</th>
    <td>{%address%}</td>
</tr>
<tr>
    <th align="right">Telefono:</th>
    <td>{%phone%}</td>
</tr>
<tr>
    <th align="right">Fax:</th>
    <td>{%fax%}</td>
</tr>
<tr>
    <th align="right">Messaggio:</th>
    <td><p>{%message_text%}</p></td>
</tr>
</table>

</body>
</html>
