<html>
<body>

<table>
<tr>
    <th align="right">Nome:</th>
    <td>{%contact_first_name%}</td>
</tr>
<tr>
    <th align="right">Cognome:</th>
    <td>{%contact_last_name%}</td>
</tr>
<tr>
    <th align="right">E-mail:</th>
    <td>{%contact_email%}</td>
</tr>
<tr>
    <th align="right">Azienda:</th>
    <td>{%contact_company_name%}</td>
</tr>
<tr>
    <th align="right">Città:</th>
    <td>{%contact_city%}</td>
</tr>
<tr>
    <th align="right">Indirizzo:</th>
    <td>{%contact_address%}</td>
</tr>
<tr>
    <th align="right">Telefono:</th>
    <td>{%contact_phone%}</td>
</tr>
<tr>
    <th align="right">Fax:</th>
    <td>{%contact_fax%}</td>
</tr>
<tr>
    <th align="right">Messaggio:</th>
    <td><p>{%contact_message_text_lf2br%}</p></td>
</tr>
</table>

</body>
</html>
