<form action="?" method="post" name="form">
<input type="hidden" name="action" value="update_user" />
{%user_id_hidden%}
<table>
{%_role%}
<tr>
    <td>{%lang:login%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_login.input%}</td>
</tr>
<tr>
    <td>{%lang:password%}:</td>
    <td>{%user_password.input%}</td>
</tr>
<tr>
    <td>{%lang:password_confirm%}:</td>
    <td>{%user_password_confirm.input%}</td>
</tr>
<tr>
    <td>{%lang:first_name%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_first_name.input%}</td>
</tr>
<tr>
    <td>{%lang:last_name%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_last_name.input%}</td>
</tr>
<tr>
    <td>{%lang:email%}:&nbsp;<span class="required">*</span></td>
    <td>{%user_email.input%}</td>
</tr>
<tr>
    <td valign="middle">{%lang:extra_info%}:</td>
    <td>{%user_extra_info.input%}</td>
</tr>
{%_is_confirmed%}
{%_is_active%}
<tr>
    <td colspan="2" align="center"
        ><input name="submit_btn" type="submit" value="{%lang:link.save%}" /></td>
</tr>
</table>
</form>

{%user_client_validation_js%}
