<form action="?" method="post" name="form">
<input type="hidden" name="action" value="update_user">
{%user_id_hidden%}
<table>
{%_role%}
<tr>
    <td>{%str_login%}: *</td>
    <td>{%user_login_input%}</td>
</tr>
<tr>
    <td>{%str_password%}:</td>
    <td>{%user_password_input%}</td>
</tr>
<tr>
    <td>{%str_password_confirm%}:</td>
    <td>{%user_password_confirm_input%}</td>
</tr>
<tr>
    <td>{%str_first_name%}: *</td>
    <td>{%user_first_name_input%}</td>
</tr>
<tr>
    <td>{%str_last_name%}: *</td>
    <td>{%user_last_name_input%}</td>
</tr>
<tr>
    <td>{%str_email%}: *</td>
    <td>{%user_email_input%}</td>
</tr>
<tr>
    <td valign="middle">{%str_extra_info%}:</td>
    <td>{%user_extra_info_input%}</td>
</tr>
{%_is_confirmed%}
{%_is_active%}
<tr>
    <td colspan="2" align="center"
        ><input name="submit_btn" type="submit" value="{%str_link_save%}"></td>
</tr>
</table>
</form>

{%user_client_validation_js%}
