<form action="?" method="get" name="form" onsubmit="onsubmitFormHandler(this);">
<input type="hidden" name="action" value="pg_products" />

<table>
<tr>
    <td colspan="2"><b>{%lang:filter_by%}:</b></td>
</tr>
<tr>
    <td>{%lang:keywords%}:</td>
    <td>{%product.keywords.like_many.input%}</td>
</tr>
<tr>
    <td>{%lang:category1%}:</td>
    <td>{%product.category2_category1_id.equal.input%}</td>
</tr>
<tr>
    <td>{%lang:category2%}:</td>
    <td>{%product.category3_category2_id.equal.input%}</td>
</tr>
<tr>
    <td>{%lang:category3%}:</td>
    <td>{%product.category3_id.equal.input%}</td>
</tr>
<tr>
    <td colspan="2">{%lang:price%}&nbsp;{%lang:from%}:&nbsp;{%product.price.greater_equal.input%}&nbsp;{%lang:to%}:&nbsp;{%product.price.less_equal.input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input type="submit" name="submit_btn" value="{%lang:filter%}" />
    </td>
</tr>
</table>

</form>

{%product.category3_category2_id.equal.dependency_js%}
{%product.category2_category1_id.equal.dependency_js%}

<script type="text/javascript">
initDependencies();
</script>
