<form action="?" method="get" name="form" onsubmit="onsubmitFormHandler(this);">
<input type="hidden" name="action" value="products" />

<table>
<tr>
    <th colspan="2"><b>{%global:filter_by%}:</b></th>
</tr>
<tr>
    <th>{%global:keywords%}:</th>
    <td>{%product.keywords.like_many.input%}</td>
</tr>
<tr>
    <th>{%global:category1%}:</th>
    <td>{%product.category2_category1_id.equal.input%}</td>
</tr>
<tr>
    <th>{%global:category2%}:</th>
    <td>{%product.category3_category2_id.equal.input%}</td>
</tr>
<tr>
    <th>{%global:category3%}:</th>
    <td>{%product.category3_id.equal.input%}</td>
</tr>
<tr>
    <td colspan="2">{%global:price%}&nbsp;{%global:from%}:&nbsp;{%product.price.greater_equal.input%}&nbsp;{%global:to%}:&nbsp;{%product.price.less_equal.input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input type="submit" name="submit_btn" value="{%global:filter%}" />
    </td>
</tr>
</table>

</form>

{%product.category3_category2_id.equal.dependency_js%}
{%product.category2_category1_id.equal.dependency_js%}

<script type="text/javascript">
initDependencies();
</script>
