<table class="table">
<thead>
<tr>
    <th><a href="?{%action_filters.suburl%}&amp;order_by=id+asc">{%lang:id%}</a></th>
    <th>{%lang:category%}</th>
    <th><a href="?{%action_filters.suburl%}&amp;order_by[]=category1_position+asc&amp;order_by[]=category2_position+asc&amp;order_by[]=category3_position+asc&amp;order_by[]=name+asc">{%lang:name%}</a></th>
    <th><a href="?{%action_filters.suburl%}&amp;order_by=price+asc">{%lang:price%}</a></th>
    <th>{%lang:actions%}</th>
</tr>
</thead>
<tbody>
    {%product_items%}
</tbody>
</table>
