<tr class="{%list_item_class%}">
    <td>{%product.id%}</td>
    <td>
        <strong>{%product.category1_name%}</strong><br />
        &nbsp;&nbsp;{%product.category2_name%}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;{%product.category3_name%}
    </td>
    <td>{%product.name%}</td>
    <td>{%product.price%}</td>
    <td>
        [<a
            href="?action=product_edit&amp;product_id={%product.id%}"
        >{%global:edit%}</a>]&nbsp;[<a
            href="?action=product_edit&amp;product_id={%product.id%}&amp;command=delete"
            onclick="return confirm('{%global:sure_delete.js%}')"
        >{%global:delete%}</a>]
    </td>
</tr>
