<form
    action="?action=categories&amp;{%current_category_ids_suburl%}"
    method="post"
    name="form">

    <input type="hidden" name="command" value="update" />
    <input type="hidden" name="obj" value="category3" />
    <input type="hidden" name="obj_id" value="{%category3.id%}" />

    <table>
        <tbody>
            <tr>
                <th>{%global:category3.name%}:{%global:_required_field%}</th>
                <td>{%category3.name.input%}</td>
            </tr>
        </tbody>
    </table>
    <input name="submit_btn" type="submit" value="{%global:save%}" />

</form>

<script type="text/javascript">
    {%category3.client_validation_js%}
</script>
