<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%global:lang%}" lang="{%global:lang%}" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%global:html_charset%}">
</head>
<body>
<table>
<tr>
    <td>Nome:</td>
    <td>{%contact_info.first_name%}</td>
</tr>
<tr>
    <td>Cognome:</td>
    <td>{%contact_info.last_name%}</td>
</tr>
<tr>
    <td>E-mail:</td>
    <td>{%contact_info.email%}</td>
</tr>
<tr>
    <td>Azienda:</td>
    <td>{%contact_info.company_name%}</td>
</tr>
<tr>
    <td>Città:</td>
    <td>{%contact_info.city%}</td>
</tr>
<tr>
    <td>Indirizzo:</td>
    <td>{%contact_info.address%}</td>
</tr>
<tr>
    <td>Telefono:</td>
    <td>{%contact_info.phone%}</td>
</tr>
<tr>
    <td>Fax:</td>
    <td>{%contact_info.fax%}</td>
</tr>
<tr>
    <td valign="middle">Messaggio:</td>
    <td>{%contact_info.message_text.lf2br%}</td>
</tr>
</table>
</body>
</html>
