<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%lang%}" lang="{%lang%}" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%html_charset%}">
</head>
<body>
<table>
<tr>
    <td>Nome:</td>
    <td>{%contact_info_first_name%}</td>
</tr>
<tr>
    <td>Cognome:</td>
    <td>{%contact_info_last_name%}</td>
</tr>
<tr>
    <td>E-mail:</td>
    <td>{%contact_info_email%}</td>
</tr>
<tr>
    <td>Azienda:</td>
    <td>{%contact_info_company_name%}</td>
</tr>
<tr>
    <td>Città:</td>
    <td>{%contact_info_city%}</td>
</tr>
<tr>
    <td>Indirizzo:</td>
    <td>{%contact_info_address%}</td>
</tr>
<tr>
    <td>Telefono:</td>
    <td>{%contact_info_phone%}</td>
</tr>
<tr>
    <td>Fax:</td>
    <td>{%contact_info_fax%}</td>
</tr>
<tr>
    <td valign="middle">Messaggio:</td>
    <td>{%contact_info_message_text_lf2br%}</td>
</tr>
</table>
</body>
</html>
