<tr class="{%list_item_class%}">
    <td>{%news_article.id%}</td>
    <td>{%news_article.created_date%}</td>
    <td>{%news_article.title.short%}</td>
    <td>{%news_article.thumbnail_image%}</td>
    <td>{%news_article.file_info%}</td>
    <td>
        <div class="toolbar">
            [<a
                href="?action=news_article_edit_admin&amp;news_article_id={%news_article.id%}"
                >{%global:edit%}</a>]
            [<a
                href="?action=news_article_edit_admin&amp;news_article_id={%news_article.id%}&amp;command=delete"
                onclick="return confirm('{%global:sure_delete.js%}')"
                >{%global:delete%}</a>]
        </div>
    </td>
</tr>
