<tr class="{%list_item_class%}">
    <td>{%news_article.id%}</td>
    <td>{%news_article.created%}</td>
    <td>{%news_article.title.short%}</td>
    <td>{%news_article.thumbnail_image%}</td>
    <td>{%news_article.file_info%}</td>
    <td>
        [<a
            href="?action=pg_news_article_edit&amp;news_article_id={%news_article.id%}"
        >{%lang:edit%}</a>]&nbsp;[<a
            href="?action=delete_news_article&amp;news_article_id={%news_article.id%}"
            onclick="return confirm('{%lang:sure_delete%}')"
        >{%lang:delete%}</a>]
    </td>
</tr>
