<table class="table">
    <thead>
        <tr>
            <th>
                <a href="?{%action_filters.suburl%}&amp;order_by=id+asc"
                    >{%global:id%}</a>
            </th>
            <th>
                <a href="?{%action_filters.suburl%}&amp;order_by=created+desc"
                    >{%global:news_article.created_date%}</a>
            </th>
            <th>{%global:title%}</th>
            <th>{%global:image%}</th>
            <th>{%global:file%}</th>
            <th>{%global:actions%}</th>
        </tr>
    </thead>
    <tbody>
        {%news_article_items%}
    </tbody>
</table>
