<form action="?action=pg_categories&amp;{%current_category_ids_suburl%}" method="post" name="form">
<input type="hidden" name="command" value="update_obj" />
<input type="hidden" name="obj" value="category3" />
<input type="hidden" name="obj_id" value="{%category3.id%}" />

<table>
<tr>
    <th>{%lang:name%}:&nbsp;<span class="required">*</span></th>
    <td>{%category3.name.input%}</td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input name="submit_btn" type="submit" value="{%lang:save%}" />
    </td>
</tr>
</table>

</form>

<script type="text/javascript">
{%category3.client_validation_js%}
</script>
