<form action="?" method="post" name="form">
<input type="hidden" name="action" value="process_contact_form" />
<table>
<tr>
    <td>{%lang:first_name%}:&nbsp;<span class="required">*</span></td>
    <td>{%contact_info_first_name_input%}</td>

    <td>{%lang:last_name%}:&nbsp;<span class="required">*</span></td>
    <td>{%contact_info_last_name_input%}</td>
</tr>
<tr>
    <td>{%lang:email%}:&nbsp;<span class="required">*</span></td>
    <td>{%contact_info_email_input%}</td>
    <td>{%lang:company_name%}:</td>
    <td>{%contact_info_company_name_input%}</td>
</tr>
<tr>
    <td>{%lang:city%}:</td>
    <td>{%contact_info_city_input%}</td>
    <td>{%lang:address%}:</td>
    <td>{%contact_info_address_input%}</td>
</tr>
<tr>
    <td>{%lang:phone%}:</td>
    <td>{%contact_info_phone_input%}</td>
    <td>{%lang:fax%}:</td>
    <td>{%contact_info_fax_input%}</td>
</tr>
<tr>
    <td valign="middle">{%lang:message_text%}:&nbsp;<span class="required">*</span></td>
    <td colspan="3">{%contact_info_message_text_input%}</td>
</tr>
<tr>
    <td colspan="4" align="center">
        <input name="submit_btn" type="submit" value="{%lang:link_send%}" />
    </td>
</tr>
</table>
</form>

<script type="text/javascript">
focusFormElement('form', 'contact_info_first_name');
</script>

{%contact_info_client_validation_js%}

{{contact_form/contact_form/_notice_{%global:lang%}.html}}
