<?xml version="1.0" encoding="utf-8" ?>
<menu
    name="user_menu"
    template="_menu.html"
    item_template="_menu_item.html"
    item_current_template="_menu_item_current.html"
    item_delimiter_template="_menu_item_delimiter.html"
>
    <menu_item name="index" url="?">
        <actions>
            <action name="pg_index" />
        </actions>
    </menu_item>
    <menu_item name="news" url="?action=pg_view_news_articles">
        <actions>
            <action name="pg_view_news_articles" />
            <action name="pg_view_news_article" />
        </actions>
    </menu_item>
    <menu_item name="contact_form" url="?action=pg_contact_form">
        <actions>
            <action name="pg_contact_form" />
        </actions>
    </menu_item>
    <menu_item name="static_sample_page1" url="?action=pg_static&amp;page=sample_page1">
        <actions>
            <action name="pg_static_sample_page1" />
        </actions>
    </menu_item>
    <menu_item name="static_sample_page2" url="?action=pg_static&amp;page=sample_page2">
        <actions>
            <action name="pg_static_sample_page2" />
        </actions>
    </menu_item>
</menu>
