<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={%html_charset%}">
    <meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(Duration=0.2)">
    <title>{%str_app_head_title%} - {%head_page_title%}</title>
    <link rel="StyleSheet" href="css/user.css" type="text/css">
    <script src="js/lib.js"></script>
</head>
<body>
{%menu%}<br>
{%page_title%}{%status_messages%}{%body%}
</body>
</html>
